:host {
    display: contents;
}

.collapsible-sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    &.overlay-sidebar {
        position: fixed;
        top: 0;
        z-index: 100;
    }

    &.overlay-sidebar.left-sidebar {
        left: 0;
    }

    &.overlay-sidebar.right-sidebar {
        right: 0;
    }

    &.collapsed {
        .sidebar-content {
            display: none;
        }
    }

    .section-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}
