# Ignorar carpetas específicas
BackTienda/
TiendaFront/
**/__pycache__/

# Ignorar archivos y carpetas dentro de Back
Back/venv/
Back/GUIA_INSTALACION.md
Back/readme.md

# Ignorar carpetas dentro de Front
Front/.idea/
Front/.angular/
Front/node_modules/

